<!DOCTYPE html>
<html>
    <head>
        <title>Enter Pool</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <nav>
            <div class="nav-bg"></div>
            <ul>
                <li><a href="http://localhost:7777/profile">Profile</a></li>
                <li><a href="http://localhost:7777/authorisation">Authorisation</a></li>
                <li><a href="http://localhost:7777/registration">Registration</a></li>
                <li><a href="http://localhost:7777/sites">Sites</a></li>
                <li><a href="http://localhost:7777/favorite">Favorite</a></li>
                <li><a href="http://localhost:7777/posts">Posts</a></li>
                <li><a href="http://localhost:7777/genres">Genres</a></li>
            </ul>
        </nav>
        <div class ="sites">
            <ul>
                
                {{if flag}}
            <form method="post" class="add site" action="http://localhost:7777/sites/addSite">
                <fieldset>
                    <label>
                        Name: <input type = "text" name = "name" required>
                    </label>
                    <label>
                        <b>Genre: </b>
                        <select name = "genre">
                            <option value = "Git">Git</option>
                            <option value = "Wiki">Wiki</option>
                            <option value = "Social">Social</option>
                        </select>
                    </label>
                    <label>
                        Description: <input type = "text" name = "description" required>
                    </label>    
                    <label>
                        Path: <input type = "text" name = "path" required>
                    </label>
                    
                    <button type="Add_Site" style="border-style: none">
                        <b>Add Site</b>
                    </button> 
                </fieldset>
                </form>
                {{end}}
                
                {{for site in sites}}
                <div class="list">
                    <h2>Link : <a href="{{site.site.path}}">{{site.site.name}}</a></h2>
                    <h3>Genre : {{site.site.genre}}</h3>
                    <h4>Discription: {{site.site.description}}</h4>
                    {{if site.flag}}
                    <form method="post" class="add_To_Favorite" action="http://localhost:7777/sites/addToFavorite">
                        <fieldset style= "border-style:none">
                            <input type="text" name = "favoriteSite" value="{{site.site.name}}" style="display: none">
                            <button type="Sign In">
                                <b>Add To Favorite</b>
                            </button> 
                        </fieldset>
                    </form>   
                    {{end}}
                </div>
                {{end}}
            </ul>          
        </div>
    </body>
</html>